
.navbar-custom {
  background-color: #1E81F3;
}

.btn-outline-custom-white {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.btn-outline-custom-white:hover {
  background-color: white;
  color: black;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes autoScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.rounded-corners {
  border-radius: 50%;
}


.btn-birutua {
  background-color: #12294A;
  color: white;
}

.btn-birutua:hover {
  background-color: #081220;
  color: white;
}

.btn-outline-birutua {
  color: #12294A;
  border: 1px solid #12294A;
  background-color: transparent;
}

.btn-outline-birutua:hover {
  background-color: #12294A;
  color: white;
}

.text-custom {
  color: #12294A;
}
